<% layout('layouts/boilerplate.ejs')%>
<style>
    * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float two columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
}

.horizontal-center {
  margin: 0;
  position: absolute;
  left: 45%;
  top:80%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

img:hover {
    box-shadow: 0px 6px 5px #ccc;
    padding: 0px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* for like button*/
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e8efff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
} */
/*
.like__btn {
  padding: 10px 15px;
  background: #0080ff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
} */



</style>
<div style="text-align: justify;" class="card card-header align-text-center mt-2 mb-4 bg-light-gray">
    <h4>REQUESTED BOOKS</h4>
</div>
<div class="row align-start ">
<% for (let book of requestedBooks) { %>
    <div class="col-6 mb-2">
      <div class="card">
        
        <div class="card-body">
            <div class="title" id="title">Title: <%=book.book_title%> </div>
        <p class="card-text">Subject: <%=book.book_subject%> </p>
        <p class="card-text">
            <small class="text-muted">Edition: <%=book.book_edition%> </small> <br>
            <small class="text-muted">Book Author: <%=book.book_author%> </small>
        </p>
        <br>
        
        
        <form action="/books/<%=book._id%>/likes?_method=PUT" method="POST">
        <button type="submit">
        <i class="material-icons" onclick="likePost('<%=book._id%>')">thumb_up</i>
      </button>
      </form>
      <% if((book.book_likes).length > 0) %> 
        <p class="card-text"><%=book.book_likes.length%>Likes</p>
      

        <!-- <button action="/books/likes" method="post" class="like__btn">
          <span id="icon"><i class="far fa-thumbs-up"></i></span>
          <span id="count">0</span> Like
       </button> -->

      </div>
</div>
</div>
<% } %>
<br>
<br>
<br>
</div>
<br>
<a class="btn btn-primary" style="width:150px; padding:1%;" href="/books/requestbook">Request a Book </a>

<script>

  /* const likePost= (id) => {
    fetch('/books/likes' , {
      method: "put",
      headers: {
        "Content-Type": "application/json",
        //"Authorization": "Bearer "+localStorage.getItem('jwt')
      },
      body: JSON.stringify({
        reqbookId:id
      })
    }).then(res=>res.json())
    .then(result => {
      //console.log(result)
      const newData= data.map(book=>{
       if(book._id==result._id){
        return result
       }else{
        return book
       }
      })
      setData(newData)
    }).catch(err => {
      console.log(err)
    })
  } */

 
  /* function updateLikes() {
    id = $('.likeicon').attr('reqbookId');
    $.post('/books/' + id, function (response) {
        $('fa-thumbs-o-up').text(response.likeCount); //your counter on a page
        //and update likes counter with response
    })
}  */

/* const likeBtn = document.querySelector(".like__btn");
  let likeIcon = document.querySelector("#icon"),
    count = document.querySelector("#count");
  
  let clicked = false;
  
  
  likeBtn.addEventListener("click", () => {
    if (!clicked) {
      clicked = true;
      likeIcon.innerHTML = `<i class="fas fa-thumbs-up"></i>`;
      count.textContent++;
    } else {
      clicked = false;
      likeIcon.innerHTML = `<i class="far fa-thumbs-up"></i>`;
      count.textContent--;
    }
  });
   */



</script>
