<% layout('layouts/Boilerplate.ejs')%> 
<style>
  .wrapper {
/* margin-left:75%; */
margin-top: 0.2%;
}

#search-container {
margin: 0.2em 0;
}
#search-container input {
margin-left: 60%;
background-color:white;
width: 35vh;
height: 40px;
border-radius: 20px;
border-bottom: 2px solid #110f29;
padding: 0.7em 0.3em;

}
#search-container input:focus {
border-bottom-color: #6759ff;

}
.book{
font-size: x-large;
}
.mt-2{
  margin-left: 2%;
  margin-right: 2%;
}
</style>
<div class="mt-2 card">
  <div class="card-header align-text-center">
      <div class="wrapper mb-2" >
          <div id="search-container"><strong class="book">WAITING LIST</strong>
              <input
                type="search"
                id="search-input"
                placeholder="Search book name here.."
              onkeyup="searchfun()">
              <img src="https://th.bing.com/th?id=OIP.zauFo5LpJiOvon3jJEM3nwHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" height="30" width="30">
            </div>
          </div>
      </div>
    <div id="Allbooks">
        <% for (let book of student.waitlist) { %>
        <div class="card m-4">
        </div>
        <br>
        <div class="card">    
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= book.images %> " alt="" class="img-fluid mt-4 mb-4 ms-4" width="230" height="160">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                      <h5><strong><%= book.title %> </strong></h5>
                      <h6><%= book.book_author %> </h6>
                      <p class="card-text"><i><%= book.description %></i> </p>
                        <p class="card-text">
                            <small class="text-muted">Edition: <%= book.edition %> </small> <br>
                        </p>
                      <h6 class="text-muted">Position in waiting list: <%=(book.waitlist).indexOf(student._id) + 1 %></h6>
                        <a class="btn btn-primary mb-2" href="/books/<%= book._id %>">View book</a><br>
                        <form action="/books/<%=book._id %>/removeFromWaitlist?_method=PUT" method="POST">
                        <button class="btn btn-outline-dark mt-1 mb-1 w-30">Remove Book from Wait List</button>
                        </form>
                    </p>
                    </div>
                    <br>
                </div>
            </div>
            
        </div>
        <% } %>
        <br>
    
</div>
    <script>
        const searchfun=()=>{
            let filter =document.getElementById('search-input').value.toUpperCase();
            let Allbook =document.getElementById('Allbooks');
            let bk=Allbook.getElementsByClassName('card');
            
            for(var i=0; i<bk.length;i++){
                let title=bk[i].firstElementChild.innerText;
                if(title.toUpperCase().indexOf(filter)>-1){
                   bk[i].style.display="";
                }else{
                  bk[i].style.display="none";
                }
            }
        }
    </script>