<% if(status === "student") { %> 
    <%- layout('layouts/boilerplate.ejs')%> 
<% } else { %>
    <%- layout('layouts/adminBoilerplate.ejs')%> 
<% } %> 
    <style>
    #profile {
            height: 44px;
            text-align: center;
          }
     .card{
        margin-left:4%;
        margin-right:4%;
    }
    </style>

    <div class="card mb-5 ml-3 mr-3">
        <div id="profile" class="card-header align-text-center">
            <h4>PROFILE</h4>
        </div>
        <div style="text-align: justify;" class="card-body align-text-center col-8 mt-4 ms-5">
            <p>Name: <%= user.username %> </p>
            <p>Registration ID: <%= user.regId %> </p>
            <p>Email: <%= user.email %> </p>
        </div>
    </div>
    <div class="card mb-5">
        <div id="profile" class="card-header align-text-center">
            <h4>ISSUED BOOKS</h4>
        </div>
        <div style="text-align: justify;" class="card-body align-text-center col-8 mt-4 ms-5">
            <% if((user.issuedBooks).length === 0 && books.length === 0) { %> 
                <p class="card-text">No books currently issued</p>
            <%} else {%>
                <% for (let i=0; i<books.length; i++) { %>
                    <ul>
                        <li><%= (books[i]).title %>   Date Issued: <%=(user.issuedBooks[i]).dateIssued%>   Return before: <%=(user.issuedBooks[i]).deadline%></li>
                    </ul>
                <% } %> 
            <% } %>
        </div>
    </div>
    
    <div class="card mb-5">
        <div id="profile" class="card-header align-text-center">
            <h4>BOOK BANK</h4>
        </div>
        <div style="text-align: justify;" class="card-body align-text-center col-8 mt-4 ms-5">
            <% if((user.bookBank).length === 0 && bbooks.length === 0) { %> 
                <p class="card-text">No books currently issued from Book Bank</p>
            <%} else {%>
                <% for (let i=0; i<bbooks.length; i++) { %>
                    <ul>
                        <li><%= bbooks[i].title %>   Date Issued: <%= (user.bookBank[i]).dateIssued%>   Return before: <%=(user.bookBank[i]).deadline%></li>
                    </ul>
                <% } %> 
            <% } %>
        </div>
    </div>
    <% if(status==="admin") { %> 
    
        <a class="btn btn-primary" style="margin-left: 2%; margin-bottom:2%" href="/admin/<%=user._id%>/edit">Edit Profile</a>
   
    <% } %> 